@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-light-blue: #5599bb;
  --color-med-blue: #006699;
  --color-dark-blue: #003854;
  --color-text-grey: #424242;
  --color-sub-white: #e5e5e5;
  --color-off-white: #f8f8f8;
  --color-xlight-blue: #edfaff;
  --color-e7-grey: #e7e7e7;
  --color-61-grey: #616161;
  --color-bckg-blue: #F8FBFC;

  --font-inter: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}
